body {
	background: #555a5f; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #555a5f 0%, #1c1e20 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#555a5f), color-stop(100%,#1c1e20)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #555a5f 0%,#1c1e20 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #555a5f 0%,#1c1e20 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #555a5f 0%,#1c1e20 100%); /* IE10+ */
	color: #eeeeee;
}
.wrapper {
	width: 700px;
	margin: 0 auto;
}
.header {
	margin-top: 50px;
}
.presentation {
	display: inline-block;
}
.active {
	width: 700px;
	height: 500px;
	margin: auto;
}
.inactive {
	display: none;
}
.start, .stop {
	text-align: center;
	display: block;
	text-decoration: none;
}
.start:hover, .stop:hover {
	cursor: pointer;
	text-decoration: underline;
}
.miniature {
	display: block;
	width: 200px;
	height: 150px;
	font-size: 10px;
}
.slide h1 {
	font-size: 5em;
	text-align: center;
}
.slide p {
	font-size: 2.5em;
	text-align: center;
}
.slide.miniature {
	font-size: 50%;
	text-align: center;
}
.slide.active {
	border-radius: 10px;
	border: 1px solid #eeeeee;
}